POSTGRES_DB=flowstock
POSTGRES_USER=flowstock
POSTGRES_PASSWORD=change_me_strong
FLOWSTOCK_PORT=8080
FLOWSTOCK_HTTP_PORT=7153
FLOWSTOCK_HTTPS_PORT=7154
BACKUP_KEEP=30
BACKUP_INTERVAL_SECONDS=86400
POSTGRES_WAIT_TIMEOUT_SECONDS=120
